.grid-container
{
    display: grid;
    grid-template-columns: auto auto auto;  /* wrote it three time to divide it three times*/
    background-color: aqua;
    padding: 10px;
    /* column-gap: 50px; 
    row-gap: 50px; 
    gap: 50px 100px; */
}


.grid-item
{
    background-color: blue;
    border: 1px solid black;
    padding: 20px;
    font-size: 31px;
    text-align: center;
}


.grid-item1
{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-row-start: 1;
    grid-row-end: 3;
}





.grid-shortcut
{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: greenyellow;
    padding: 10px;
    gap: 10px;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.grid-shortcut > div
{
    background-color: grey;
    text-align: center;
    padding: 10px 0px;    
}